a {
    color: white;
}
body {
    background: white url("images/watercolor.jpg") no-repeat;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}